In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import scipy.stats as stats
from statsmodels.stats.multicomp import (pairwise_tukeyhsd,
                                         MultiComparison)
from statsmodels.formula.api import ols      # For n-way ANOVA
from statsmodels.stats.anova import _get_covariance,anova_lm # For n-way ANOVA
%matplotlib inline

In [2]:
data=pd.read_excel('fast_food_python.xlsx')

In [3]:
data

   Sales1  Sales2  Sales3  Sales4
0  2600.0  3158.0   481.0   883.0
1  1483.8   957.0  2427.2   710.2
2  1195.0  1242.0   993.2   829.0
3  1470.0  1717.5   878.8   465.0
4   903.4  1475.0   345.0   574.9
5  1254.2  1184.0  2556.4   915.0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Sales1  6 non-null      float64
 1   Sales2  6 non-null      float64
 2   Sales3  6 non-null      float64
 3   Sales4  6 non-null      float64
dtypes: float64(4)
memory usage: 320.0 bytes

In [5]:
data_df = pd.read_csv('FastFood.csv')

In [6]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   FastFoodNames  24 non-null     int64
 1   Sales          24 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 512.0 bytes

In [8]:
formula = 'Sales ~ C(FastFoodNames)'
model = ols(formula, data_df).fit()
aov_table = anova_lm(model)
print(aov_table)

                    df        sum_sq        mean_sq         F    PR(>F)
C(FastFoodNames)   3.0  2.771659e+06  923886.427222  1.894999  0.162978
Residual          20.0  9.750783e+06  487539.152833       NaN       NaN